/* middle.css */

.editor-container2 {
  position: absolute; /* 위치 지정 */
  bottom: 0; /* 화면 아래쪽에 붙이기 */
  left:50%; /* 화면의 가운데로 이동 */
  transform: translateX(-50%); /* 가운데 정렬 */
  display: flex;
  flex-direction: column; /* 세로 방향으로 요소 배치 */
  align-items: flex-start; /* 가로 방향으로 왼쪽 정렬 */
  height: 80vh; /* 화면 전체 높이의 80% */
  width: 50vh; /* 화면 전체 너비의 50% */
  border: solid black;
  margin: auto; /* 가로 세로 중앙 정렬 */
  background-color: aqua;
}
.text-panel2 {
  /* 텍스트 패널 스타일 */
}

.text-content2 {
  /* 텍스트 내용 스타일 */
}

.expanded2 {
  /* 텍스트 내용이 펼쳐졌을 때의 스타일 */
}

.expand-button2 {
  /* 확장 버튼 스타일 */
}

.bookmarks-panel2 {
  /* 북마크 패널 스타일 */
}

.save-button2 {
  /* 저장 버튼 스타일 */
}
