/* style.css 이게 login.css임*/
:root {
  --primary-bg: #1e1e1e;
  --secondary-bg: #2d2d2d;
  --primary-text: #ffffff;
  --secondary-text: #b0b0b0;
  --accent-color: #007acc;
  --border-radius: 5px;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-family: 'Fira Code', monospace;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--primary-bg);
  position: relative;
}

.login-form {
  width: 600px;
  background-color: var(--secondary-bg);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  width: 75%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: var(--border-radius);
  font-size: 16px;
  outline: none;
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.login-button-container {
  width: 75%;
  text-align: center;
}

.login-button, .signup-button {
  background-color: var(--accent-color);
  color: var(--primary-text);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-top: 15px;
  font-size: 20px;
  padding: 10px 20px;
  width: 100%;
}

.signup-button:hover {
  background-color: darken(var(--accent-color), 10%);
}
