:root {
  --primary-bg: #1e1e1e;
  --secondary-bg: #2d2d2d;
  --primary-text: #ffffff;
  --secondary-text: #b0b0b0;
  --accent-color: #007acc;
  --danger-color: #e06c75;
  --border-radius: 5px;
}

/* 전체적인 배경 및 텍스트 스타일 */
body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-family: 'Fira Code', monospace;
}

/* 스타일링된 컨테이너 */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--primary-bg);
}

/* 로그인 박스 스타일 */
.login-box {
  width: 500px;
  background-color: var(--secondary-bg);
  border-radius: var(--border-radius);
  padding: 40px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* 로그인 제목 스타일 */
.login-box h2 {
  color: var(--accent-color);
  margin-bottom: 20px;
  font-size: 32px;
}

/* 구글 로그인 버튼 스타일 */
.login-button-container .google-login-button {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* 버튼 공통 스타일 */
.google-login-button {
  background-color: var(--accent-color);
  border: none;
  border-radius: var(--border-radius);
  color: var(--primary-text);
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-login-button:hover {
  background-color: darken(var(--accent-color), 10%);
}

/* 가로 가운데 정렬 */
.login-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

