.left-container {
  width: 200px;
  height: 100%;
  background-color: #2d2d2d;
  padding: 10px 10px 10px 0; /* 왼쪽 패딩을 0으로 설정 */
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* 오른쪽 그림자 */
}

.left-container h2 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.term-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.term {
  width: 90%;
  background-color: #3a3a3a;
  color: #bdbdbd;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.term:hover {
  background-color: #555555;
  color: #ffffff;
}
