.user-page {
  padding: 20px;
  background-color: #f2f2f2;
  min-height: 100vh;
}

.profile-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.user-info {
  font-size: 18px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upload-container input {
  margin-bottom: 10px;
}

.upload-container button {
  background-color: mediumaquamarine;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 15px;
}
